
<!-- SCRIPTS -->
      <script src="{{ url_for('static', filename='js/bedroom1.js') }}"></script>


<!-- SCHEMATIC - BEDROOM 1 - 643x639 -->
<div style='position:absolute;top:0;left:0;width:630;height:626'><img src='../static/Master Bedroom Schematic 1.png' width='630' height='626'></div>


<!-- GUAGES -->
<div style='position:absolute;top:630;width:100%;height:300'>
<div id="bedroom1HumidityGuageDiv" style='position:absolute;top:0;width:200;height:200;left:50%;margin-left:-310'></div>
<div id="bedroom1TemperatureGuageDiv" style='position:absolute;top:0;width:200;height:200;left:50%;margin-left:-100'></div>
<div id="bedroom1LightGuageDiv" style='position:absolute;top:0;width:200;height:200;left:50%;margin-left:110'></div>
</div>


<!-- BUTTONS & DATA -->
<div style='position:absolute;top:880;width:500;height:100;left:50%;margin-left:-250'>
<form id='bedroom1MainLightButton' method='Post'>
<div id='bedroom1MainLightOn'>
<input type='image' id='bedroom1MainLightOnButton' src='../static/SwitchMainLightsOnButton.png' alt='Submit' width='500' height='100' value='Bedroom1 Main Light On'>
</div>
<div id='bedroom1MainLightOff'>
<input type='image' id='bedroom1MainLightOffButton' src='../static/SwitchMainLightsOffButton.png' alt='Submit' width='500' height='100' value='Bedroom1 Main Light On'>
</div>
</form></div>

<div style='position:absolute;top:1030;width:500;height:100;left:50%;margin-left:-250'>
<form id='bedroom1AmbientLightButton' method='Post'>
<div id='bedroom1AmbientLightOn'>
<input type='image' id='bedroom1AmbientLightOnButton' src='../static/SwitchAmbientLightsOnButton.png' alt='Submit' width='500' height='100' value='Bedroom1 Ambient Light On'>
</div>
<div id='bedroom1AmbientLightOff'>
<input type='image' id='bedroom1AmbientLightOffButton' src='../static/SwitchAmbientLightsOffButton.png' alt='Submit' width='500' height='100' value='Bedroom1 Ambient Light On'>
</div>
</form></div>

<div style='position:absolute;top:1180;width:500;height:100;left:50%;margin-left:-250'>
<form id='bedroom1AllLightButton' method='Post'>
<div id='bedroom1AllLightOn'>
<input type='image' id='bedroom1AllLightOnButton' src='../static/SwitchAllLightsOnButton.png' alt='Submit' width='500' height='100' value='Bedroom1 All Light On'>
</div>
<div id='bedroom1AllLightOff'>
<input type='image' id='bedroom1AllLightOffButton' src='../static/SwitchAllLightsOffButton.png' alt='Submit' width='500' height='100' value='Bedroom1 All Light On'>
</div>
</form></div>

<div id='bedroom1AllLightImage' style='position:absolute;top:1250;width:500;height:100;left:50%;margin-left:-250'>>
<img src='../static/SwitchAllLightsImage.png' width='500' height='100'>
</div>
