
<!-- SCRIPTS -->
      <script src="{{ url_for('static', filename='js/everything.js') }}"></script>


<!-- SCHEMATIC - WHOLE FLAT - 1309x2164 -->
<div style='position:absolute;top:0;left:0;width:630;height:1041'><img src='../static/Flat Schematic 1.png' width='630' height='1041'></div>

<div style='position:absolute;left:223;top:286'>
<svg width='231' height='344'><path id='hallLightShape'  pointer-events='visible' fill='none' fill-opacity='0.1'
d='M   0   0
   L 231   0
   L 231  65
   L 145  65
   L 145 347
   L  77 347
   L  77 295
   L  69 295
   L  69 179
   L  77 179
   L  77  83
   L  84  83
   L  84  65
   L   0  65
   Z'/></svg></div>

<div style='position:absolute;left:54;top:366'>
<svg width='238' height='258'><path id='kitchenAmbientLightShape1' pointer-events='visible' fill='none' fill-opacity='0.1'
d='M  44  44
   L 164  44
   L 164  57
   L  57  57
   L  57 258
   L  44 258
   Z'/></svg></div>

<div style='position:absolute;left:54;top:366'>
<svg width='238' height='258'><path id='kitchenAmbientLightShape2' pointer-events='visible' fill='none' fill-opacity='0.1'
d='M 174  52
   L 187  52
   L 187  76
   L 212 100
   L 240 100
   L 240 113
   L 210 113
   L 174  84
   Z'/></svg></div>

<div style='position:absolute;left:54;top:366'>
<svg width='238' height='258'><path id='kitchenAmbientLightShape3' pointer-events='visible' fill='none' fill-opacity='0.1'
d='M 103 213
   L 103 200
   L 139 200
   L 139 213
   L 184 213
   L 184 200
   L 240 200
   L 240 213
   Z'/></svg></div>

<div style='position:absolute;left:54;top:366'>
<svg width='238' height='258'><path id='kitchenLightShape' pointer-events='visible' fill='none' fill-opacity='0.1'
d='M   0   0
   L 164   0
   L 164  52
   L 240  52
   L 240 258
   L 103 258
   L 103 162
   L  90 162
   L  90 258
   L   0 258
   Z'/></svg></div>

<div style='position:absolute;left:37;top:194'>
<svg width='178' height='165'><path id='bathroomLightShape' pointer-events='visible' fill='none' fill-opacity='0.1'
d='M   0   0
   L 123   0
   L 123  55
   L 178  55
   L 178 157
   L 112 157
   L 112 165
   L   0 165
   Z'/></svg></div>

<div style='position:absolute;left:157;top:630'>
<svg width='277' height='370'><path id='loungeLightShape' pointer-events='visible' fill='none' fill-opacity='0.1'
d='M   0   0
   L 212   0
   L 212  66
   L 277  66
   L 277 372
   L   0 372
   Z'/></svg></div>

<div style='position:absolute;left:419;top:169'>
<svg width='100' height='100'><circle id='bedroomLightCircle' pointer-events='visible' fill='none' fill-opacity='0.1'
cx='50' cy='50' r='50'>
</svg></div>

<div style='position:absolute;left:352;top:39'>
<svg width='241' height='239'><path id='bedroomLightShape' pointer-events='visible' fill='none' fill-opacity='0.1'
d='M   0   0
   L 242   0
   L 242 195
   L 201 195
   L 201 236
   L  99 236
   L  99 239
   L   0 239
   Z'/></svg></div>

<div style='position:absolute;left:167;top:39'>
<svg width='176' height='239'><path id='spareLightShape' pointer-events='visible' fill='none' fill-opacity='0.1'
d='M   0   0
   L 176   0
   L 176 239
   L  56 239
   L  56 202
   L   0 202
   Z'/></svg></div>


<!-- GUAGES -->
<div id="overviewAverageGuages" style='position:absolute;top:1050;width:100%;height:300'>
<div id="averageHumidityGuageDiv" style='position:absolute;top:0;width:200;height:200;left:50%;margin-left:-310'></div>
<div id="averageTemperatureGuageDiv" style='position:absolute;top:0;width:200;height:200;left:50%;margin-left:-100'></div>
<div id="averageLightGuageDiv" style='position:absolute;top:0;width:200;height:200;left:50%;margin-left:110'></div>
</div>

<div id="overviewHallGuages" style='position:absolute;top:300;left:306;width:60;height:180'>
<div id="everythingHallTemperatureGuageDiv" style='position:absolute;top:0;width:60;height:60;left:0'></div>
<div id="everythingHallHumidityGuageDiv" style='position:absolute;top:55;width:60;height:60;left:0'></div>
<div id="everythingHallLightGuageDiv" style='position:absolute;top:110;width:60;height:60;left:0'></div>
</div>

<div id="overviewKitchenGuages" style='position:absolute;top:420;left:115;width:116;height:110'>
<div id="everythingKitchenTemperatureGuageDiv" style='position:absolute;top:0;width:60;height:60;left:28'></div>
<div id="everythingKitchenHumidityGuageDiv" style='position:absolute;top:50;width:60;height:60;left:0'></div>
<div id="everythingKitchenLightGuageDiv" style='position:absolute;top:50;width:60;height:60;left:56'></div>
</div>

<div id="overviewBathroomGuages" style='position:absolute;top:200;left:68;width:116;height:110'>
<div id="everythingBathroomTemperatureGuageDiv" style='position:absolute;top:0;width:60;height:60;left:28'></div>
<div id="everythingBathroomHumidityGuageDiv" style='position:absolute;top:50;width:60;height:60;left:0'></div>
<div id="everythingBathroomLightGuageDiv" style='position:absolute;top:50;width:60;height:60;left:56'></div>
</div>

<div id="overviewLoungeGuages" style='position:absolute;top:760;left:237;width:116;height:110'>
<div id="everythingLoungeTemperatureGuageDiv" style='position:absolute;top:0;width:60;height:60;left:28'></div>
<div id="everythingLoungeHumidityGuageDiv" style='position:absolute;top:50;width:60;height:60;left:0'></div>
<div id="everythingLoungeLightGuageDiv" style='position:absolute;top:50;width:60;height:60;left:56'></div>
</div>

<div id="overviewBedroom1Guages" style='position:absolute;top:100;left:414;width:116;height:110'>
<div id="everythingBedroom1TemperatureGuageDiv" style='position:absolute;top:0;width:60;height:60;left:28'></div>
<div id="everythingBedroom1HumidityGuageDiv" style='position:absolute;top:50;width:60;height:60;left:0'></div>
<div id="everythingBedroom1LightGuageDiv" style='position:absolute;top:50;width:60;height:60;left:56'></div>
</div>

<div id="overviewBedroom2Guages" style='position:absolute;top:100;left:197;width:116;height:110'>
<div id="everythingBedroom2TemperatureGuageDiv" style='position:absolute;top:0;width:60;height:60;left:28'></div>
<div id="everythingBedroom2HumidityGuageDiv" style='position:absolute;top:50;width:60;height:60;left:0'></div>
<div id="everythingBedroom2LightGuageDiv" style='position:absolute;top:50;width:60;height:60;left:56'></div>
</div>





<div style='position:absolute;top:1300'>
<div style='position:absolute;top:0;left:0;width:630;height:50'>Temps:</div>
<div id='tempData1' style='position:absolute;top:50;left:0;width:630;height:50'></div>
<div id='tempData2' style='position:absolute;top:100;left:0;width:630;height:50'></div>
<div id='tempData3' style='position:absolute;top:150;left:0;width:630;height:50'></div>
<div id='tempData4' style='position:absolute;top:200;left:0;width:630;height:50'></div>
<div id='tempData5' style='position:absolute;top:250;left:0;width:630;height:50'></div>
<div id='tempData6' style='position:absolute;top:300;left:0;width:630;height:50'></div>

<div style='position:absolute;top:400;left:0;width:630;height:50'>Humidity:</div>
<div id='humidityData1' style='position:absolute;top:450;left:0;width:630;height:50'></div>
<div id='humidityData2' style='position:absolute;top:500;left:0;width:630;height:50'></div>
<div id='humidityData3' style='position:absolute;top:550;left:0;width:630;height:50'></div>
<div id='humidityData4' style='position:absolute;top:600;left:0;width:630;height:50'></div>
<div id='humidityData5' style='position:absolute;top:650;left:0;width:630;height:50'></div>
<div id='humidityData6' style='position:absolute;top:700;left:0;width:630;height:50'></div>
</div>
