
<!-- SCRIPTS -->
      <script src="{{ url_for('static', filename='js/navigation.js') }}"></script>



<div style='position:absolute;top:50;width:180;height:50'>
<input type='image' id='navigateEverything' src='../static/navigateOverview Button.png' alt='Submit' width='180' height='50' value='everything'>
</div>



<div style='position:absolute;top:150;width:180;height:50'>
<input type='image' id='navigateHall' src='../static/navigateHall Button.png' alt='Submit' width='180' height='50' value='hall'>
</div>

<div style='position:absolute;top:225;width:180;height:50'>
<input type='image' id='navigateKitchen' src='../static/navigateKitchen Button.png' alt='Submit' width='180' height='50' value='kitchen'>
</div>

<div style='position:absolute;top:300;width:180;height:50'>
<input type='image' id='navigateLounge' src='../static/navigateLounge Button.png' alt='Submit' width='180' height='50' value='lounge'>
</div>

<div style='position:absolute;top:375;width:180;height:50'>
<input type='image' id='navigateBedroom1' src='../static/navigateBedroom Button.png' alt='Submit' width='180' height='50' value='bedroom1'>
</div>

<div style='position:absolute;top:450;width:180;height:50'>
<input type='image' id='navigateBedroom2' src='../static/navigateSpare Button.png' alt='Submit' width='180' height='50' value='bedroom2'>
</div>

<div style='position:absolute;top:525;width:180;height:50'>
<input type='image' id='navigateBathroom' src='../static/navigateBathroom Button.png' alt='Submit' width='180' height='50' value='bathroom'>
</div>



<div style='position:absolute;top:625;width:180;height:50'>
<input type='image' id='navigateLighting' src='../static/navigateLighting Button.png' alt='Submit' width='180' height='50' value='lighting'>
</div>

<div style='position:absolute;top:700;width:180;height:50'>
<input type='image' id='navigateHeating' src='../static/navigateHeating Button.png' alt='Submit' width='180' height='50' value='heating'>
</div>

<div style='position:absolute;top:775;width:180;height:50'>
<input type='image' id='navigateAppliances' src='../static/navigateAppliances Button.png' alt='Submit' width='180' height='50' value='appliances'>
</div>

<div style='position:absolute;top:850;width:180;height:50'>
<input type='image' id='navigateSchedule' src='../static/navigateSchedule Button.png' alt='Submit' width='180' height='50' value='schedule'>
</div>



<div style='position:absolute;top:950;width:180;height:50'>
<input type='image' id='navigateSettings' src='../static/navigateSettings Button.png' alt='Submit' width='180' height='50' value='settings'>
</div>

<div style='position:absolute;top:1025;width:180;height:50'>
<input type='image' id='navigatePiControl' src='../static/navigatePiControl Button.png' alt='Submit' width='180' height='50' value='piControl'>
</div>
