<div id='divStoreAverageHumidityGuage'></div>
<div id='divStoreAverageTemperatureGuage'></div>
<div id='divStoreAverageLightGuage'></div>

<div id='divStoreHallHumidityGuage'></div>
<div id='divStoreHallTemperatureGuage'></div>
<div id='divStoreHallLightGuage'></div>

<div id='divStoreKitchenHumidityGuage'></div>
<div id='divStoreKitchenTemperatureGuage'></div>
<div id='divStoreKitchenLightGuage'></div>

<div id='divStoreLoungeHumidityGuage'></div>
<div id='divStoreLoungeTemperatureGuage'></div>
<div id='divStoreLoungeLightGuage'></div>

<div id='divStoreBedroom1HumidityGuage'></div>
<div id='divStoreBedroom1TemperatureGuage'></div>
<div id='divStoreBedroom1LightGuage'></div>

<div id='divStoreBedroom2HumidityGuage'></div>
<div id='divStoreBedroom2TemperatureGuage'></div>
<div id='divStoreBedroom2LightGuage'></div>

<div id='divStoreBathroomHumidityGuage'></div>
<div id='divStoreBathroomTemperatureGuage'></div>
<div id='divStoreBathroomLightGuage'></div>


<div id='divStoreSmallAverageHumidityGuage'></div>
<div id='divStoreSmallAverageTemperatureGuage'></div>
<div id='divStoreSmallAverageLightGuage'></div>

<div id='divStoreSmallHallHumidityGuage'></div>
<div id='divStoreSmallHallTemperatureGuage'></div>
<div id='divStoreSmallHallLightGuage'></div>

<div id='divStoreSmallKitchenHumidityGuage'></div>
<div id='divStoreSmallKitchenTemperatureGuage'></div>
<div id='divStoreSmallKitchenLightGuage'></div>

<div id='divStoreSmallLoungeHumidityGuage'></div>
<div id='divStoreSmallLoungeTemperatureGuage'></div>
<div id='divStoreSmallLoungeLightGuage'></div>

<div id='divStoreSmallBedroom1HumidityGuage'></div>
<div id='divStoreSmallBedroom1TemperatureGuage'></div>
<div id='divStoreSmallBedroom1LightGuage'></div>

<div id='divStoreSmallBedroom2HumidityGuage'></div>
<div id='divStoreSmallBedroom2TemperatureGuage'></div>
<div id='divStoreSmallBedroom2LightGuage'></div>

<div id='divStoreSmallBathroomHumidityGuage'></div>
<div id='divStoreSmallBathroomTemperatureGuage'></div>
<div id='divStoreSmallBathroomLightGuage'></div>
