
<!-- SCRIPTS -->
      <script src="{{ url_for('static', filename='js/topDisplay.js') }}"></script>


<div id='title2' style='position:absolute;top:35;width:550;height:75;left:50;text-align:left'>
</div>

<font size='4'><div id='welcomeMessage' style='position:absolute;top:95;width:550;height:75;left:125;text-align:left'>
</div></font size>

<div style='position:absolute;top:22;width:180;height:50;left:50%;margin-left:155'>
<form action='login' method='Post'>
<input type='image' id='logOutButton' src='../static/log out button.png' alt='Submit' width='270' height='75' value='log out'>
</form>
</div>
